<div class="container">
    <div class="header">
        <h2>
            Calculator
        </h2>
    </div>

    <div class="grid">
        <div class="operation">
            <div class="row">
                <div class="col-12">
                    <input class="input" [(ngModel)]="number1" type="number" name="" placeholder="number">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input class="input" [(ngModel)]="number2" type="number" name="" placeholder="number">
                </div>
            </div>
            <div>
                <div class="col-12">
                    <button (click)="add()" class="button">
                        Add
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="result">
                    <span>
                        <h2>Result : {{result}}</h2>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>